.conteneur {
    margin:15px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    max-width:960px;
}


header {
   background-image:url("cross.png");
   background-attachment:fixed;
    
}

main {
       background-image:url("halftone.png");
    background-attachment:fixed;
          font-family: Courier, serif;
   text-align: left;

}

#corps {
      -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-width: 320px;
    column-width: 320px;
    
    -moz-column-gap:10px;
        -webkit-column-gap:10px;
        -o-column-gap:10px;
        column-gap:10px;
}

footer {
     background-image:url("paper.png");
    background-attachment:fixed;
}


table {
 border-style : hidden;
  width: 100%;
}

   th {
        color: #2ecc71;
        font-family: Arial;
        font-size:1.2em;
        text-align:center;
    }


footer img {
    display:inline-block;
    vertical-align: bottom;
    opacity: 0.08;
    padding: 30px;
  
}



h1 {
    font-family: Lobster, sans-serif;
    font-size: 2em;
}


h1 img{
max-width:200px;
max-height:100px; 
   float: left;    
   position: relative;
   padding: 5px 20px 10px 10px;
}

h2 {
    font-family: Arial, sans-serif ;
    color: #2ecc71;
    font-size: 1.5em;
text-align:inherit;
}

ul {
    list-style-type: circle;
}